<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin/home" class="brand-wrap">
            <img src="/admin.assets/imgs/theme/seiko-logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item" id="home">
                <a class="menu-link " href="/admin/home"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard </span>
                </a>
            </li>
            <li class="menu-item" id="users">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Customers</span>
                </a>
            </li>

            <li class="menu-item" id="products">
                <a class="menu-link" href="/product/view-admin"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Products</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="page-coupon.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-banner.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>

        </ul>
        <hr>
        <ul class="menu-aside">

        </ul>
        <br>
        <br>
    </nav>
</aside>